<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Manga Connect</h1>
            <h2>Modifier un commentaire</h2>
            <p>Vendez ou échangez vos mangas à travers toute la France d'un simple clic.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12 ">
                <form method="POST" action="/comments/update/{{comment._id}}">
                    <div class="form-group">
                        <label for="content">Votre commentaire :</label>
                        <textarea class="form-control" id="content" name="content"
                            rows="3">{{{comment.content}}}</textarea>
                        <script>
                            CKEDITOR.replace(
                                ('content'));
                            CKEDITOR.config.entities = false;
                            CKEDITOR.config.entities_latin = false;
                        </script>
                    </div>
                    <button type="submit" class="btn btn-secondary">Modifier</button>
                </form>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>